{% extends "layout.html" %}

{% block content %}
    <div class ="col-12 col-auto">
        <div class="col-12 text-center" style="margin-bottom: 50px; margin-top: 50px;">
            <div class="mx-auto">
                <button id="update-average-face" class="btn btn-lg btn-outline-primary">更新</button>
            </div>
        </div>
        <div class="col-12 col-auto">
            <div class="mx-auto col-10">
                <div class="col-5 float-left" style="margin-right: 10px;">
                    <h3 class="text-center">男性の平均</h3>
                    <img id="men-output-image" class="img-fluid" src="">
                </div>
                <div class="col-5 float-right" style="margin-left: 10px">
                    <h3 class="text-center">女性の平均</h3>
                    <img id="women-output-image" class="img-fluid" src="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_js %}
<script type="text/javascript">
    $(document).ready(function(){
        var menOutputImageSrc = '../static/average_faces/men-output.jpg';
        var womenOutputImageSrc = '../static/average_faces/women-output.jpg';
        var originalImageSrc = '../static/average_faces/original-output.jpg';

        $('#men-output-image').attr('src', menOutputImageSrc + '?' + new Date().getTime());
        $('#women-output-image').attr('src', womenOutputImageSrc + '?' + new Date().getTime());
        $('#original-image').attr('src', originalImageSrc + '?' + new Date().getTime());

        // 平均画像を更新する
        $("#update-average-face").on("click", function () {
            $.ajax({
                type: 'GET',
                url: '/update',
                processData: false,
                contentType: false
            }).done(function (data) {
                $('#men-output-image').attr('src', menOutputImageSrc + '?' + new Date().getTime());
                $('#women-output-image').attr('src', womenOutputImageSrc + '?' + new Date().getTime());
                alert('顔平均画像を更新しました。');
            }).fail(function() {
                alert('顔平均画像の更新に失敗しました。')
            })
        });
    });

</script>


{% endblock %}