<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Face Average</title>
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
</head>

<body>
    <div class="container">

        <div class="masthead" style="margin-top: 50px;">
            <h3 class="text-muted">Face Average</h3>
            <nav class="navbar navbar-light bg-faded rounded mb-3">
                <div class="navbar-toggleable-md" id="navbarCollapse">
                    <ul class="nav navbar-nav nav-justified">
                        <li class="nav-item active">
                            <a href="/" class="nav-link">ホーム</a>
                        </li>
                        <li class="nav-item">
                            <a href="/new_photo" class="nav-link">顔写真を登録</a>
                        </li>
                        <li class="nav-item">
                            <a href="/new_file" class="nav-link">顔写真を選択</a>
                        </li>
                        <li class="nav-item">
                            <a href="/mix" class="nav-link">合成</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">一覧<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/list_men" class="nav-link">男性</a></li>
                                <li><a href="/list_women" class="nav-link">女性</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- content -->
        {% block content %}{% endblock %}
    </div>

    <script src="../static/node_modules/tether/dist/js/tether.min.js"></script>
    <script src="../static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/app.js"></script>
    {% block additional_js %}{% endblock %}

</body>
</html>