{% extends "layout.html" %}

{% block content %}
    <div class="col-12">
        <div class="row">
            <!-- preview -->
            <div class="col-7 card">
                 <div class="card-block mx-auto">
                    <div id="preview">
                        <img id="image-preview" src="" class="img-fluid">
                    </div>
                 </div>
            </div>

            <!-- form -->
            <div class="col-5 mx-auto">
                <!-- sex -->
                <div class="form-group col-12 mx-auto" style="margin-top: 30px">
                    <label class="control-label col-4 text-center"><b>Gender:</b></label>
                    <span class="radio-inline">
                        <input type="radio" value="men" name="gender" id="man">
                        <label for="man">Man</label>
                        <input type="radio" value="women" name="gender" id="woman">
                        <label for="woman">Woman</label>
                    </span>
                </div>

                <!-- file -->
                <div class="form-group col-12 mx-auto" style="margin-top: 50px;">
                    <div class="mx-auto text-center">
                        <label for="face-image" class="btn btn-lg btn-outline-primary">
                            File Upload
                            <input id="face-image" type="file" style="display:none;"/>
                            <!--<input id="face-image" type="file"/>-->
                        </label>
                    </div>
                </div>

                <!-- upload button -->
                <div class="form-group col-12 mx-auto" style="margin-top: 40px;">
                    <div class="mx-auto text-center">
                        <button id="image-submit-button" class="btn btn-lg btn-secondary">Upload</button>
                        <!--<button type="submit" class="btn btn-lg btn-secondary">Upload</button>-->
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block additional_js %}
<script type="text/javascript">
    $(document).ready(function () {
        // preview
        $('#face-image').on('change', function (data) {
            var file = data.target.files[0];
            var reader = new FileReader(),
                $preview = $(".preview");

            // 画像ファイル以外の場合は何もしない
            if (file.type.indexOf("image") < 0) {
                return false;
            }

            reader.onload = (function (file) {
                return function (e) {
                    $preview.empty();
                    $('#image-preview').attr('src', e.target.result);
                };
            })(file);

            reader.readAsDataURL(file);
        });

        // 画像をアップロードする
        $("#image-submit-button").on("click", function () {
            var radioVal = $("input[name='gender']:checked").val();
            var inputFile = $('#face-image').prop("files")[0];
            console.log(inputFile);
            var formData = new FormData();
            formData.append('gender', radioVal);
            formData.append('face', inputFile);
            console.log(formData.get('face'));
            $.ajax({
                type: 'POST',
                url: '/upload_file',
                data: formData,
                processData: false,
                contentType: false
            }).done(function (data) {
                alert('アップロードが完了しました。');
                $('#man').val("");
                $('#woman').val("");
                $('#face-image').val("");
                $('#image-preview').attr('src', "");
//                location.href = "{{ url_for('mix') }}";
            }).fail(function (data) {
                console.log(data);
                alert('アップロードに失敗しました。上手く顔が検出出来なかったか、顔が２つ以上検出された可能性があります。')
            });
        });
    });

</script>


{% endblock %}